extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 Cliche jianbing selfies.
              |                 
              hr
              |                 
              p
                | Portland keffiyeh glossier viral narwhal craft beer forage twee. Poke chartreuse snackwave, pickled farm-to-table banh mi forage iceland church-key cornhole tilde selfies tofu.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Four dollar toast pug!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Listicle pok pok hot chicken.
                |                     
                hr.light
                |                     
                p.text-faded
                  | Labore XOXO kogi, laborum tousled assumenda sriracha before they sold out. Labore mlkshk Helvetica Marfa health goth Austin magna sunt, yr aesthetic artisan heirloom chillwave commodo lo-fi.
                |                     
                a.btn.btn-default.btn-xl(href='#') Thundercats lyft scenester!
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Etsy typewriter tilde everyday carry.
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 Cardigan post-ironic
                  |                         
                  p.text-muted Venmo sriracha polaroid, cold-pressed kinfolk roof party crucifix deep v chillwave enamel pin umami pork belly organic sustainable celiac.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Retro lomo
                  |                         
                  p.text-muted Four loko iceland flexitarian, narwhal keffiyeh tacos tilde vegan PBR&B.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Etsy bicycle
                  |                         
                  p.text-muted  Stumptown chillwave paleo, butcher hoodie meditation leggings synth DIY fashion axe four loko.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Fingerstache glossier 
                  |                         
                  p.text-muted Austin small batch tote bag man bun yr four dollar toast disrupt.
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 Flexitarian YOLO cornhole!
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#') Artisan humblebrag irony!
        | 
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Meh ramps
                      |                                 
                      .project-name
                        | Stumptown tumblr
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        |  Green juice drinking
                      |                                 
                      .project-name
                        | Letterpress pour-over
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Schlitz salvia
                      |                                 
                      .project-name
                        | Kinfolk art party
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Cray tbh
                      |                                 
                      .project-name
                        | Vexillologist XOXO 
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Gluten-free vexillologist
                      |                                 
                      .project-name
                        | Coloring book 8-bit
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        |  Hammock leggings
                      |                                 
                      .project-name
                        | affogato taxidermy
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading  Hammock leggings locavore
                |                     
                hr.primary
                |                     
                p
                  | 
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p 
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:dgawmackintosh@gmail.com') Email me